[Desktop Entry]
Type=Application
Exec=/bin/sh -c "/user/share/anemona/plank.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Plank start
Name=Plank Startup
Comment[en_US]=Plank start
Comment=Plank Start
