[Desktop Entry]
Name=Welcome to WeeBUNTU
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=distributor-logo
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-Ubuntu-Gettext-Domain=ubuntu-default-launchers
